{% extends 'layout.html' %}
{% load filters %}

{% block title %}
    Formulario en DJango
{% endblock %}
{% block content %}
    <H1 class="title"> 
        Formulario en DJango
    </H1>
    <form action="{% url 'save_autor' %}" method="POST">
        {% csrf_token %}
        <label for="nombre"> Nombre </label>
        <input type="text" name="nombre" />

        <label for="apellido"> Apellido </label>
        <input type="text" name="apellido" />

        <label for="fecha_nacimiento"> Fecha de Nacimiento </label>
        <input type="date" name="fecha_nacimiento" />

        <label for="sexo"> ¿Sexo? </label>
        <select name="sexo">
            <option value="Masculino">Masculino</option>
            <option value="Femenino">Femenino</option>
        </select>

        <label for="pais"> Pais </label>
        <select name="pais">
            <option value="Peru">Peru</option>
            <option value="Bolivia">Bolivia</option>
            <option value="Chile">Chile</option>
            <option value="Colombia">Colombia</option>
            <option value="Paraguay">Paraguay</option>
            <option value="Brasil">Brasil</option>

        </select>

        <input type="submit" value="Agregar" />

    </form>
{% endblock %}